html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #5d7bb3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.logo {
    margin: 0;
    flex: 2;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
}
nav li:hover {
    background-color: #555;
}
nav a:hover {
    text-decoration: none;
}
main {
    flex: 1;
    min-height: calc(100vh - 130px);
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    margin-bottom: 10px;
}
ul li a {
    color: #333;
    text-decoration: none;
}
footer {
    background-color: #333;
    color: #fff;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger {
    display: none;
}
@media (max-width: 767px) {
    .burger {
        display: block;
        cursor: pointer;
   }
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
   }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #333;
   }
    .logo {
        margin-bottom: 10px;
   }
    nav {
        margin-top: 10px;
   }
    nav ul {
        flex-direction: column;
   }
    nav li {
        margin: 5px 0;
   }
    .nav-links li {
        margin: 10px 0;
   }
    .nav-links li a {
        color: #fff;
   }
    .show-nav {
        display: flex;
   }
}
