body {
    background-color: #1c2331;
    color: #ecf0f1;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 1px 1px #1c2331;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .jumbotron {
    display: none;
  }
  
  .reference {
    display: block;
    font-size: 16px;
    margin-top: 50px;
  }
  
  .card {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px #1c2331;
    margin-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #1c2331;
  }
  
  a {
    color: #ecf0f1;
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
  a:hover {
    background-color: #1c2331;
    color: #ecf0f1;
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    h1 {
      font-size: 24px;
    }
    .card {
      padding: 20px;
    }
  }
  