/* Style the background image */
.background-image {
	background-image: url('/assets/images/bg.jpg');
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

/* Style the main content section */
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

/* Style the "About Tryallium" section */
#content {
	background-color: rgb(0, 0, 0, 0,5);
	padding: 80px 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}